/* ***** PAGE ***** */
html {
  height: 100%;
}
.waiting {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.page {
  height: 90vh;
}
.page-comics {
  height: 100vh;
}
.pagination {
  border: none;
  background-color: black;
  color: white;
}

/* ***** HEADER ***** */
.header {
  background-color: black;
  position: fixed;
  width: 100%;
  box-shadow: rgb(26, 26, 26) 2px 15px 10px;
  top: 0px;
}
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 90%;
  margin: auto;
}
.box-characters {
  margin: 2px;
  box-sizing: border-box;
}
img.logo-header {
  height: 50px;
  margin: 15px 0px 0px 0px;
}
.comics {
  margin: 0px 20px 0px 20px;
}
.header-box-right {
  display: flex;
  align-items: center;
}
.header-box-left {
  display: flex;
  align-items: center;
}
i.fas.fa-search {
  color: white;
  font-size: x-large;
  margin: 0px 0px 0px 20px;
}
.sign-in,
.characters,
.comics {
  height: 40px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.sign-in,
.btn-search,
.comics:hover .btn-log,
.btn-signUp,
.btn-close-modal,
.btn-logIn:hover {
  outline: none;
  cursor: pointer;
}

button.characters,
.btn-search,
.comics,
.btn-log,
.btn-signUp,
.btn-logIn:focus {
  outline: none;
}
.log {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-log {
  border: none;
  background-color: black;
  color: white;
}
.name-header {
  margin: 0px;
  color: red;
  font-weight: 900;
}
div.logInSignUp {
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: 900;
}
.white {
  color: white;
}
.btn-signUp,
.btn-logIn {
  background-color: black;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 1em;
  border-radius: 25%;
}

.input-search {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  margin: 20px;
}
.btn-search {
  height: 35px;
  font-size: unset;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 25px;
}
.btn-searchClose {
  border-radius: 50%;
  color: white;
  background-color: black;
  margin: 5px;
  font-size: small;
}

/* ***** HOME ***** */

.home {
  background-color: black;
  height: 100%;
  width: 100%;
}
.box-home {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.logo-home {
  margin: 10px 0px 0px 10px;
  width: 20%;
}
.menu-home {
  display: flex;
  align-items: flex-end;
}
.text-home {
  display: flex;
  color: white;
  margin: 15px;
}
.img-home {
  width: 100%;
  height: 98%;
  display: flex;
  margin-top: 60px;
}

/* ***** CHARACTERS ***** */
.box-characters {
  width: 200px;
  height: 300px;
}

.img-characters {
  box-sizing: border-box;
  width: 100%;
  height: 75%;
  border-radius: 10px;
}
.img-characters:hover {
  display: none;
}
.all-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  height: 100%;
  margin-top: 60px;
}
.card {
  margin: 10px;
  overflow: scroll;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: rgb(151, 151, 151) 5px 5px 15px 5px;
}
.h2-characters {
  color: white;
}

.text-characters {
  text-overflow: hidden;
  box-sizing: border-box;
  margin: 30px 0px 10px 0px;
  color: white;
}
.text-characters:hover {
  height: 200px;
}

a {
  text-decoration: none;
  color: black;
}
/* ***** COMICS ***** */

.all-comics {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  margin-top: 60px;
}
.img-comics {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.img-comics:hover {
  display: none;
}
.box-comics {
  width: 300px;
  height: 450px;
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: scroll;
}

.all-img-comic:hover {
  display: none;
}

.text-comics,
.h2-comics {
  color: white;
}
.h2-comics {
  margin-bottom: 150px;
}

.comics-soon {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

/* ***** MODAL ***** */

.page-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
}
.modal {
  margin: 150px 0px 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.box-all-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background-color: black;
  box-shadow: lightgrey 10px 10px 25px 10px;
  border-radius: 5px;
  height: 80%;
  width: 80%;
}
div.img-description-modal {
  width: 90%;
  display: flex;
  box-sizing: border-box;
  padding: 30px 0px;
}
.img-description {
  width: 20%;
  margin-top: 50px;
}
.details-modal {
  display: flex;
  width: 50%;
  margin: 30px 0px 10px 0px;
  flex-direction: column;
}

.box-comic {
  margin: 30px;
  width: 100%;
  overflow: scroll;
  box-sizing: border-box;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.btn-close-modal {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 25px 0px 0px 0px;
  border-radius: 50%;
  margin-left: 90%;
  background-color: black;
  color: white;
  font-size: x-large;
}

.img-modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100px;
  height: 150px;
  margin: 15px;
}

.box-comics-pictures {
  margin-right: 10px;
}
.box-modal {
  display: flex;
  flex-direction: column;
  height: 550px;
}

.h2-modal,
.p-modal {
  color: white;
}
.h2-modal {
  color: white;
}
.h1-description {
  color: white;
  text-align: center;
}
.p-description {
  color: white;
}

.all-modal-magazin {
  display: flex;
  width: 90%;
}

.box-img-decription {
  width: 100%;
  box-sizing: border-box;
  margin: 50px;
}
.text-modal {
  display: flex;
  width: 60%;
  flex-direction: column;
  color: white;
}

/* ***** SIGN_IN / LOGIN  ***** */

.box-logIn,
.box-signIn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.form-logIn,
.form-logIn {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-shadow: grey 3px 3px 3px 3px;
  background-color: white;
  border-radius: 5px;
}
.input-form,
.input-signIn {
  height: 40px;
  width: 70%;
  background-color: lightgrey;
  border-radius: 3px;
  border: none;
  font-size: medium;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
}
.btn-logInSubmit,
.btn-signInSubmit {
  margin: 40px;
  width: 100px;
  height: 40px;
  font-size: medium;
  color: white;
  background: red;
  border-radius: 5px;
  font-weight: 900;
  border: none;
  box-shadow: lightgrey 5px 5px 5px;
}
.input-password {
  display: flex;
  width: 72%;
}

/* ***** FAVORIS ***** */

.window-favoris {
  background-color: white;
}

/* ****** FOOTER ****** */

.footer {
  height: 50px;
  width: 100%;
  background-color: black;
}
.p-footer {
  font-size: larger;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
}

.pagination {
  color: white;
}
